<?xml version="1.0" encoding="utf-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <filter>
    <filter-name>ObjectifyFilter</filter-name>
    <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>EndpointsServlet</servlet-name>
    <servlet-class>com.google.api.server.spi.EndpointsServlet</servlet-class>
    <init-param>
      <param-name>services</param-name>
      <param-value>
        com.farmatodo.backend.user.UserMonitorEndpoint,
        com.farmatodo.backend.store.StoreMonitorEndpoint,
        com.farmatodo.backend.item.ItemMonitorEndpoint,
        com.farmatodo.backend.order.OrderMonitorEndpoint,
        com.farmatodo.backend.qr.QRCodeMonitorEndpoint,
        com.farmatodo.backend.customer.CustomerMonitorEndpoint
      </param-value>
    </init-param>
    <init-param>
      <param-name>restricted</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndpointsServlet</servlet-name>
    <url-pattern>/_ah/api/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>